{% extends 'base.html' %}

{% block title %}{{chat.name}}{% endblock %}
        
{% block additional_sources %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css')}}"/>
    <script src="{{ url_for('static', filename='js/chat.js')}}" defer></script>
{% endblock %}

{% block content %}

    <div class="conversation-box">
        <div class="messages" id="messages">
            {% for message in chat.messages %}
                {% if message.sender.id == user.id %}
                    <p align="right">{{message.content}}</p>
                {% else %}
                    <p>{{message.content}}</p>
                {% endif %}
            {% endfor %}
        </div>

        <div id="messageInput">
            <input type="text" rows="2" placeholder="Send a message" name="message" id="message">
            <button type="button" name="send" class="btn btn-primary" onclick="sendMessage()">Send</button>
        </div>
    </div>

{% endblock%}