{% extends 'base.html' %}

{% block title %}{{chat.name}}{% endblock %}
        
{% block additional_sources %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css')}}"/>
    <script src="{{ url_for('static', filename='js/chat.js')}}" defer></script>
{% endblock %}

{% block content %}

    <div class="page-content">
        <div class="conversation-box" id="conversationBox">

            
            <div class="messages" id="messages">
                {% for message in chat.messages %}
                    {% if message.sender.id == user.id %}
                        <div class="message-item own-message">
                            <div class="message-container">
                                <span class="metadata-send-time own-message-text-align">
                                    {{message.timestamp}}
                                </span>
                                <span class="own-message-text-align">
                                    {{message.content}}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="message-item">
                            <div class="message-container">
                                <span class="metadata-send-time">
                                    {{message.timestamp}}
                                </span>
                                <span>
                                    <strong>{{message.sender.name}}: </strong>{{message.content}}
                                </span>
                            </div>
                            
                        </div>
                    {% endif %}
                {% endfor %}
                <div id="anchor"></div>
            </div>

            <div id="messageInput">
                <input class="me-2" type="text" rows="2" placeholder="Send a message" name="message" id="message">
                <button type="button" name="send" class="btn btn-primary" onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>

{% endblock%}