{% extends 'base.html' %}

{% block title %}Profile info{% endblock %}

{% block additional_sources %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}"/>
    <script src="{{ url_for('static', filename='js/profile.js')}}" defer></script>

{% endblock %}

{% block content %}

    {% if other_user %}
    <h4 align="center">Profile Info for {{other_user.name}}</h4>

    <div>
        <div class="profile-picture-container">
            <img id="profilePic" src="{{ url_for('views.profile_picture', filename=other_user.profile_picture) }}" alt="Profile Picture">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Name: </strong>{{other_user.name}}</li>
            <li class="list-group-item"><strong>ID: </strong>{{other_user.id}}</li>
        </ul>
    </div>
    
    {% else %}
    <h4 align="center"> Your Profile Info</h4>

    <div>
        <div class="profile-picture-container">
            <img id="profilePic" src="{{ url_for('views.profile_picture', filename=current_user.profile_picture) }}" alt="Profile Picture">
        </div>
        <form class="mb-3" method="post" enctype="multipart/form-data">
            <label for="picInput" class="btn btn-primary form-label" id="fileInputButton">Change profile picture</label>
            <input class="form-control" type="file" id="picInput" name="pic-input" accept="image/*" data-type="image" onchange="updateProfilePicture(this)" style="display: none;"> 
        </form>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Name: </strong>{{user.name}}</li>
            <li class="list-group-item"><strong>ID: </strong>{{user.id}}</li>
        </ul>
    </div>
    {% endif %}
{% endblock %}